* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rosybrown;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper .loader {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

.loader .loading {
    width: 30px;
    background: whitesmoke;
    height: 30px;
    border-radius: 50px;
    margin: 0 10px;
    animation: load 1.5s ease-in-out infinite;
}

.loading.one {
    animation-delay: 0.3s
}

.loading.two {
    animation-delay: 0.5s
}

.loading.three {
    animation-delay: 0.7s
}

.loading.four {
    animation-delay: 0.9s
}

@keyframes load {
    0%, 100% {
        width: 30px;
        height: 30px;
    }
    25% {
        width: 25px;
        height: 25px;
    }
    50% {
        width: 22px;
        height: 22px;
    }
    75% {
        width: 25px;
        height: 25px;
    }
}